@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Sora:wght@100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora";
  /* background-color: #0E0F1A; */

  color: #fff;
}

/* Gradient Color: linear-gradient(90deg, #F87516 0%, #5E11FF 100%); */